.select {
  color: #a68357;
  appearance: none;
  min-width: 45px;
  min-height: 25px;
  outline: none;
  border: 1px solid #a68357;
  background: url("images/editIcon.png") 98%/20px no-repeat;
  border-radius: 2px;
  margin: 0 5px;
  font-family: Bahnschrift, sans-serif;
  font-size: 16px;
  padding-left: 5px;
  cursor: pointer;
}

.options {
  background: whitesmoke;
  color: #a68357;

  &:checked {
    background-color: #b99870;
  }
}